
.container{
    text-align: center;
}
.playArea{
    width: 80%;
    display: inline-block;
}
.square{
    display: inline-block;
    height: 150px;
    width: 150px;
    margin: 5px 5px;
    background-image: url('https://i.pinimg.com/236x/8b/87/4a/8b874ac3b63e483339cbdb05a15fb716--blue-backgrounds-playing-cards.jpg');
    background-size: 100% 100%;
}
button{
    display: block;
    margin: 30px auto;
}